{% extends 'user/my_dash.html' %}

{% block content %}
<div class="p-4 sm:ml-64">
          <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
             
             <div class="px-4 mb-4 rounded bg-white dark:bg-gray-800">
                Bonjour {{user.last_name}}
             </div>
             <div class="  mb-4 rounded bg-white dark:bg-gray-800">
               <!-- Card Section -->
                  <div class="max-w-[85rem] px-1  sm:px-6 lg:px-8  mx-auto">
                     <!-- Grid -->
                     <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
                     <!-- Card -->
                     <div class="flex flex-col bg-white border shadow-sm rounded-xl">
                        <div class="p-4 md:p-5 flex justify-between gap-x-3">
                           <div>
                           <p class="text-xs uppercase tracking-wide text-gray-500">
                              Avancement des Cours
                           </p>
                           <div class="mt-1 flex items-center gap-x-2">
                              <h3 class="text-xl sm:text-2xl font-medium text-gray-800">
                                 1 / 3
                              </h3>
                              
                           </div>
                           </div>
                           <div class="flex-shrink-0 flex justify-center items-center size-[46px] hover:bg-yellow-400 transition bg-purple-600 hover:bg-yellow-400 transition text-white rounded-full">
                           <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                           </div>
                        </div>
                  
                        <a class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 rounded-b-xl" href="#">
                           Voir les Cous 
                           <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                        </a>
                     </div>
                     <!-- End Card -->
                  
                     <!-- Card -->
                     <div class="flex flex-col bg-white border shadow-sm rounded-xl">
                        <div class="p-4 md:p-5 flex justify-between gap-x-3">
                           <div>
                           <p class="text-xs uppercase tracking-wide text-gray-500">
                              Avancement des Parties
                           </p>
                           <div class="mt-1 flex items-center gap-x-2">
                              <h3 class="mt-1 text-xl font-medium text-gray-800">
                                3 / 8
                              </h3>
                           </div>
                           </div>
                           <div class="flex-shrink-0 flex justify-center items-center size-[46px] bg-purple-600 hover:bg-yellow-400 transition text-white rounded-full">
                           <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 22h14"/><path d="M5 2h14"/><path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/><path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/></svg>
                           </div>
                        </div>
                  
                        <a class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 rounded-b-xl" href="#">
                           Voir les Parties
                           <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                        </a>
                     </div>
                     <!-- End Card -->
                  
                     <!-- Card -->
                     <div class="flex flex-col bg-white border shadow-sm rounded-xl">
                        <div class="p-4 md:p-5 flex justify-between gap-x-3">
                           <div>
                           <p class="text-xs uppercase tracking-wide text-gray-500">
                              Avancement des Lessons
                           </p>
                           <div class="mt-1 flex items-center gap-x-2">
                              <h3 class="text-xl sm:text-2xl font-medium text-gray-800">
                                 12/36
                              </h3>
                              
                           </div>
                           </div>
                           <div class="flex-shrink-0 flex justify-center items-center size-[46px] bg-purple-600 hover:bg-yellow-400 transition text-white rounded-full">
                           <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6"/><path d="m12 12 4 10 1.7-4.3L22 16Z"/></svg>
                           </div>
                        </div>
                  
                        <a class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 rounded-b-xl" href="#">
                           Voir les lessons
                           <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                        </a>
                     </div>
                     <!-- End Card -->
                  
                     <!-- Card -->
                     <div class="flex flex-col bg-white border shadow-sm rounded-xl">
                        <div class="p-4 md:p-5 flex justify-between gap-x-3">
                           <div>
                           <p class="text-xs uppercase tracking-wide text-gray-500">
                              Avancement des QCM
                           </p>
                           <div class="mt-1 flex items-center gap-x-2">
                              <h3 class="mt-1 text-xl font-medium text-gray-800">
                                 1/3
                              </h3>
                           </div>
                           </div>
                           <div class="flex-shrink-0 flex justify-center items-center size-[46px] bg-purple-600 hover:bg-yellow-400 transition text-white rounded-full">
                           <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12s2.545-5 7-5c4.454 0 7 5 7 5s-2.546 5-7 5c-4.455 0-7-5-7-5z"/><path d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/><path d="M21 17v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-2"/><path d="M21 7V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2"/></svg>
                           </div>
                        </div>
                  
                        <a class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 rounded-b-xl" href="#">
                           Voir les QCM
                           <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                        </a>
                     </div>
                     <!-- End Card -->
                     </div>
                     <!-- End Grid -->
                  </div>
                  <!-- End Card Section -->
                              </div>
                           </div>
                        </div>
                        </div>   
{% endblock content %}