{% extends 'adm/dash.html' %}

{% block content %}
<div class="sm:ml-72">
{% for i in new_appointement  %}

<div class="max-w-xs mx-1.5 bg-white border border-t-4 border-t-purple-600 shadow-sm rounded-xl inline-block ">
          <div class="p-4 md:p-5">
                    <h3 class="text-lg font-bold text-gray-800">
                      Mr(MMe), {{i.nom}} {{i.prenom}}
                    </h3>
                    <p class="mt-2 text-gray-500">
                      With supporting text below as a natural lead-in to additional content.
                    </p>
                    <a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none" href="#">
                      Card link
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m9 18 6-6-6-6"></path>
                      </svg>
                    </a>
                  </div>
          </div>    

{% endfor %}
</div>
          



          <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
          
{% endblock content %}
