
{% load static tailwind_tags %}
<head>
    {% tailwind_css %}
</head>
{% block content %}


<div class="py-10">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 bg-gray-50">
        <thead class="text-xs text-gray-700 uppercase ">
            <tr>
                
                <th scope="col" class="px-6 py-3">
                    Nom d'utiliusateur
                </th>
                <th scope="col" class="px-6 py-3">
                    email
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users  %}
                
            
            <tr class="bg-white border-b ">
                <td class="px-6 py-4">
                    <p>{{user.username}}</p>
                </td>
                <td class="px-6 py-4">
                    <p>{{user.email}}</p>
                </td>
                
                
               
                    
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        
                        {% if user.is_active is True %}
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Actif
                        {% else %}
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Inactif
                        {% endif %}
                    </div>
                </td>
                <td class="px-6 py-4">
                    <!-- Modal toggle -->
                    <a href="{% url 'approve_user' %} user_id=user.id" type="button" data-modal-target="editUserModal" data-modal-show="editUserModal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit user</a>
                    <a href="{% url 'approve_user' %} user_id=user.id" type="button" data-modal-target="editUserModal" data-modal-show="editUserModal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit user</a>
                    <a href="{% url 'approve_user' %} user_id=user.id" type="button" data-modal-target="editUserModal" data-modal-show="editUserModal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit user</a>
                </td>
                {% endfor %}
            </tr>
            
        </div>
{% endblock %}