{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    {% tailwind_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  </head>
  

<!-- ========== HEADER ========== -->
<header class="z-50 w-full py-7">
  <nav class=" border-neutral-200 px-4 lg:px-6 py-4  z-10">
    <div class="relative flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="{% url 'home' %}" class="flex items-center  ml-10">
            
            <span class="self-center text-xl font-semibold whitespace-nowrap">DriveUp</span>
        </a>
        <div class="flex items-center lg:order-2">
          {% if not user.is_authenticated %}
            
          
          <button type="button" class="py-2 px-4 mx-1.5 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border bg-neutral-900 border-neutral-200 text-white hover:bg-neutral-100 hover:text-neutral-900 transition disabled:opacity-50 disabled:pointer-events-none ">
            <a href="{% url 'login' %}">Se Connecter</a>
          </button>
          <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent hover:bg-yellow-400 text-white bg-purple-600 disabled:pointer-events-none focus:outline-none focus:bg-purple-500 transition">
            <a href="{% url 'signup' %}">S'inscrire</a>
          </button>
          {% else %}
          <div class=" flex items-center  ms-auto py-1 md:ps-6 md:order-3 md:col-span-3 mx-1.5">
            
            <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full cursor-pointer" src="{{user.user_otherfields.profile_image.url}}" alt="User dropdown">
            
            <div id="userDropdown" class=" hidden bg-white divide-y divide-neutral-100 rounded-lg shadow w-44 absolute z-20 ">
                <div class="px-4 py-3 text-sm text-neutral-900 ">
                  <div>{{user.last_name}} {{user.first_name}}</div>
                  <div class="font-medium truncate">{{user.email}}</div>
                </div>
                <ul class="py-2 text-sm text-neutral-700 " aria-labelledby="avatarButton">
                  <li>
                    <a href="{% url 'profile' user_id=user.id %}" class="block px-4 py-2 hover:bg-neutral-100 ">Profile</a>
                  </li>
                  
                  {% if user.is_superuser %}
                  <li>
                    <a href="{% url 'dashboard' %}" class="block px-4 py-2 hover:bg-neutral-100 ">Table de bord</a>
                  </li>
                  {% else %}
                  <li>
                    <a href="{% url 'my_dash/welcome' %}" class="block px-4 py-2 hover:bg-neutral-100 ">Table de bord</a>
                  </li>
                  {% endif %}
                  
                </ul>
                <div class="py-1">
                  <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-neutral-700 hover:bg-neutral-100 ">Se déconnecter</a>
                </div>
            </div>
    
        </div>
          {% endif %}
    
          
            <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-neutral-500 rounded-lg lg:hidden hover:bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-neutral-200 " aria-controls="mobile-menu-2" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
        </div>
        <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                <li>
                    <a href="{% url 'home' %}" class="block py-2 pr-4 pl-3 text-black rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 " aria-current="page">Acceuil</a>
                </li>
                
                <li>
                    <a href="{% url 'driving_offers' %}" class="block py-2 pr-4 pl-3 text-neutral-700 border-b border-neutral-100 hover:bg-neutral-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 ">Offres de Conduite</a>
                </li>
                <li>
                    <a href="/#appointement" class="block py-2 pr-4 pl-3 text-neutral-700 border-b border-neutral-100 hover:bg-neutral-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 ">Rendez Vous</a>
                </li>
                <li>
                    <a href="/#contact" class="block py-2 pr-4 pl-3 text-neutral-700 border-b border-neutral-100 hover:bg-neutral-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 ">Nous Contactez</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    </header>
    
    
    <body>
    {% block content %}
    
    {% endblock content %}
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="./node_modules/preline/dist/preline.js"></script>
    <script src="./node_modules/preline/dist/preline.js"></script>
    </body>
    
    
    <!-- ========== FOOTER ========== -->
<footer class="   z-10  w-full mt-96">
   
    
    <div class="mt-auto relative w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 lg:pt-20 mx-auto">
        <div class="bg-gradient-to-br from-purple-500 via-yellow-100 to-white blur-lg absolute top-0 left-0 right-0 bottom-0"></div>
      <!-- Grid -->
      <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6">
        
        <div class="col-span-full lg:col-span-1 z-50">
          <a class="flex-none text-xl font-semibold text-neutral-950 hover:text-neutral-800" href="#" aria-label="Brand">Brand</a>
        </div>
        <!-- End Col -->
  
        <div class="col-span-1 z-50">
          <h4 class="font-semibold text-neutral-800">Product</h4>
  
          <div class="mt-3 grid space-y-3">
            <p><a class="inline-flex gap-x-2 text-neutral-900 hover:text-neutral-700 " href="#">Pricing</a></p>
            <p><a class="inline-flex gap-x-2 text-neutral-900 hover:text-neutral-700 " href="#">Changelog</a></p>
            <p><a class="inline-flex gap-x-2 text-neutral-900 hover:text-neutral-700 " href="#">Docs</a></p>
          </div>
        </div>
        <!-- End Col -->
  
        <div class="col-span-1 z-50">
          <h4 class="font-semibold  text-neutral-800">Company</h4>
  
          <div class="mt-3 grid space-y-3">
            <p><a class="inline-flex gap-x-2   text-neutral-900 hover:text-neutral-700 " href="#">About us</a></p>
            <p><a class="inline-flex gap-x-2  text-neutral-900 hover:text-neutral-700 " href="#">Blog</a></p>
            <p><a class="inline-flex gap-x-2  text-neutral-900 hover:text-neutral-700 " href="#">Careers</a> <span class="inline ms-1 text-xs bg-purple-600 text-white py-1 px-2 rounded-lg">We're hiring</span></p>
            <p><a class="inline-flex gap-x-2  text-neutral-900 hover:text-neutral-700 " href="#">Customers</a></p>
          </div>
        </div>
        <!-- End Col -->
  
        <div class="col-span-2 z-50">
          <h4 class="font-semibold text-neutral-800">Stay up to date</h4>
  
          <form>
            <div class="mt-4 flex flex-col items-center gap-2 sm:flex-row sm:gap-3 bg-white rounded-lg p-2 dark:bg-neutral-900">
              <div class="w-full">
                <label for="hero-input" class="sr-only">Search</label>
                <input type="text" id="hero-input" name="hero-input" class="py-3 px-4 block w-full border-transparent rounded-lg text-sm  disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Enter your email">
              </div>
              <a class="w-full sm:w-auto whitespace-nowrap p-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-purple-600 text-white hover:bg-yellow-400 disabled:opacity-50 disabled:pointer-events-none" href="#">
                Subscribe
              </a>
            </div>
            <p class="mt-3 text-sm text-neutral-400">
              New UI kits or big discounts. Never spam.
            </p>
          </form>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
  
      <div class="mt-5 sm:mt-12 grid gap-y-2 sm:gap-y-0 sm:flex sm:justify-between sm:items-center z-50">
        <div class="flex justify-between items-center">
          <p class="text-sm text-neutral-400 dark:text-neutral-400">© 2022 Preline. All rights reserved.</p>
        </div>
        <!-- End Col -->
  
        <!-- Social Brands -->
        <div class="z-50">
          <a class="size-10  inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-black hover:bg-black/10 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-neutral-600" href="#">
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
            </svg>
          </a>
          <a class="size-10  inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-black hover:bg-black/10 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-neutral-600" href="#">
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
            </svg>
          </a>
          <a class="size-10  inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-black hover:bg-black/10 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-neutral-600" href="#">
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
            </svg>
          </a>
          <a class="size-10  inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-black hover:bg-black/10 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-neutral-600" href="#">
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
          <a class="size-10  inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-black hover:bg-black/10 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-neutral-600" href="#">
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"/>
            </svg>
          </a>
        </div>
        <!-- End Social Brands -->
      </div>
    </div>
    
  </footer>
  <!-- ========== END FOOTER ========== -->
    <script src="./node_modules/preline/dist/preline.js"></script>
    </html>