{% extends 'user/my_dash.html' %}
{% block content %}

<div class="p-4 sm:ml-64">
          
          <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg ">
                    <div class="px-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
                              <div class="w-full mb-1">
                                  <div class="mb-4">
                                     
                                      <div class="flex items-center ml-auto space-x-2 sm:space-x-3">
                                          
                                          
                                          <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction" class="bg-gray-900 w-40 inline-flex items-center justify-center   py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 px-2">
                                              <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                                          <p class="px-3">Filtrer par</p>
                                          </button>
                                          <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction" class="bg-gray-900 w-40 inline-flex items-center justify-center   py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 px-2">
                                                  <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                                              <p class="px-3">Filtrer par</p>
                                        </button>
                            
                            
                                          <div class="flex pl-0 mt-3 space-x-1 sm:pl-2 sm:mt-0">
                                             
                                              <div id="dropdownAction" class=" hidden bg-gray-50 divide-y divide-gray-100 rounded-lg shadow w-44 p-6  ">
                                          <ul class="py-1 text-sm text-gray-700 " aria-labelledby="dropdownActionButton">
                                              <li>
                                                  <a href="{% url 'userlist' %}" class="block px-4 py-2 hover:bg-gray-100  text-gray-900">Tous</a>
                                              </li>
                                              <li>
                                                  <a href="{% url 'last_added' %}" class="block px-4 py-2 hover:bg-gray-100  text-gray-900">Dernier ajoute</a>
                                              </li>
                                              <li>
                                                  <a href="{% url 'active_users' %}" class="block px-4 py-2 hover:bg-gray-100  text-gray-900">Active</a>
                                              </li>
                                              <li>
                                                  <a href="{% url 'inactive_users' %}" class="block px-4 py-2 hover:bg-gray-100  text-gray-900">inactive</a>
                                              </li>
                                              <li>
                                                  <a href="{% url 'only_admin' %}" class="block px-4 py-2 hover:bg-gray-100  text-gray-900">admin</a>
                                              </li>
                                              <li>
                                                  <a href="{% url 'only_client' %}" class="block px-4 py-2 hover:bg-gray-100  text-gray-900">client</a>
                                              </li>
                                              <li>
                                                  <a href="{% url 'only_superviseur' %}" class="block px-4 py-2 hover:bg-gray-100  text-gray-900">Superviseur</a>
                                              </li>
                                          </ul>
                                          
                                      </div>
                                          </div>
                                          
                                      </div>
                                  </div>
                              </div>
                            </div>
          </div>

</div>   
{% endblock content %}