{% extends 'base.html' %}

{% block content %}      
<main id="content">
          <div class="overflow-hidden">
           
            
        
                  <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
                    <div class="overflow-hidden overflow-y-auto max-h-[75vh] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
         
           
            <div class="relative">
              
              <div aria-hidden="true" class="flex -z-[1] absolute -top-48 start-0">
                <div class="bg-gradient-to-br from-purple-100 via-purple-200 to-yellow-100 opacity-30 blur-3xl w-[1036px] h-[600px] "></div>
                <div class="bg-yellow-50 opacity-90 blur-3xl w-[577px] h-[300px] transform translate-y-32 "></div>
              </div>
              
        
              <div class="max-w-[85rem] px-4 pt-10 sm:px-6 lg:px-8 lg:pt-14 mx-auto py-96">
              
                </div>
                
                
        
          
        

        {% endblock content %}